// Variables

$light-grey: #ccc;
$dark-grey: #222;
$blue: #aceff2;
$text-color: $dark-grey;
$purple: #8b0066;
$dark-green: #015301;
$light-green: #87e276;

@import url(https://fonts.googleapis.com/css?family=Chewy|Raleway);

$raleway: Raleway, sans-serif;
$chewy: Chewy, sans-serif;